
$almost-black: hsl(0, 0%, 8%);
$medium-gray: hsl(0, 0%, 41%);
$almost-white: hsl(0, 0%, 98%);

.navbar{
    width: 100%;
    height: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .navbar-logo{
        margin: 0 2.55rem;
    }

    .navbar-hamburger-btn{
        display: none;
    }
    .navbar-login{
        margin-left: auto;
        align-self: center;
        height: 24px;
        cursor: pointer;
    }
    .navbar-login:hover, .navbar-register:hover, ul li a:hover{
        color: $almost-black;
    }
    
    #careers:hover{
        color: $medium-gray;
    }
    
    .navbar-register{
        border: $medium-gray solid 2px;
        border-radius: 1rem;
        padding: 0.6rem 1.2rem;
        margin: 0 2.55rem;
        color: $medium-gray;
        background-color: white;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .navbar-links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1.3rem;
        

        li a, .navbar-login, #features, #company{
            font-size:15px;
            font-weight: 500;
            color: $medium-gray;
            letter-spacing: -0.03rem;
        }
    
        li{
            margin-bottom: 0.7rem;
            margin-right: 2rem;
        }
        li:last-child{
            margin-left: 0.5rem;
        }
        li a, #features, #company{
            display: flex;
            align-items: center;
            height: 24px;
        }
    }
    

    .navbar-menus{
        position: absolute;
        padding: 1.5rem 1.6rem;
        border-radius: 0.7rem;
        box-shadow: rgba(230,230,230,255) 10px 10px 30px, rgba(230,230,230,255) -5px -5px 30px;
        background-color: #fff;
        ul{
            display: flex;
            flex-direction: column;
            margin: 0 0;

            li:not(:last-child){
                margin-bottom: 1rem;
            }

        }
    }
    .navbar-features-menu{
        top: 4.3rem;
        left: 7rem;
    }

    .navbar-company-menu{
        top: 4.3rem;
        left: 19rem;
        img{
            display: none;
        }
    }

}
#features, #company{
    cursor: pointer;
}

@media(max-width: 875px){
    .navbar{
        justify-content: space-between;
        width: 100%;
        height: 4.8rem;

        .navbar-logo{
            margin: 1rem 1rem;
        }
        .navbar-login{
            display: none;
            img{
                object-fit: contain;
                object-position: center;
            }
        }
        
        .navbar-hamburger-btn{
            display: block;
            margin: 1rem 1rem;
        }
        .navbar-register{
            display: none;
        }
        .navbar-links{
            display: block;
            position:fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            background: white;
            padding: 0;

            .navbar-hamburger-exit{
                display: flex;
                justify-content: right;
                margin-bottom: 2rem;
            }
            li a, #features, #company{
                font-size:16px;
                font-weight: 500;
                color: $medium-gray;
                letter-spacing: 0rem;
                min-height: 2rem;
            }
        
            li{
                margin-bottom: 0.6rem;
            }
            li:last-child{
                margin-left: 0;
            }
            
        }
        .navbar-login-mobile{
            text-align: center;
            font-size:14px;
            font-weight: 500;
            color: $medium-gray;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .navbar-register-mobile{
            width: 100%;
        border: $medium-gray solid 2px;
        border-radius: 1rem;
        padding: 0.6rem 1.2rem;
        color: $medium-gray;
        background-color: white;
        font-size: 15px;
        font-weight: 600;
        }

        .navbar-menus{
            position: static;
            padding: 1.5rem 1.6rem;
            border-radius: 0.7rem;
            box-shadow: none;
            background-color: #fff;
            ul{
                display: flex;
                flex-direction: column;
                margin: 0 0;
                
                li{
                    img{
                        width: 1.1rem;
                    }
                }
                li:not(:last-child){
                    margin-bottom: 1.2rem;
                }
                h4{
                    font-size: 16px;
                }
            }
        }
        // .navbar-features-menu{
            
            
        // }
    
        .navbar-company-menu{
        
            img{
                display: none;
            }
        }
        #features, #company{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div{
                align-self: flex-start;

                img{
                    margin-left: 0.7rem;
                }
            }
        }
        .shadow-overlay{
            z-index: 5;
            position: absolute;
            width: 36%;
            height: 200%;
            background: rgba(0, 0, 0, 0.67);
        }
    }
}