.navbar {
  width: 100%;
  height: 5.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .navbar-logo {
  margin: 0 2.55rem;
}

.navbar .navbar-hamburger-btn {
  display: none;
}

.navbar .navbar-login {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 24px;
  cursor: pointer;
}

.navbar .navbar-login:hover, .navbar .navbar-register:hover, .navbar ul li a:hover {
  color: #141414;
}

.navbar #careers:hover {
  color: dimgray;
}

.navbar .navbar-register {
  border: dimgray solid 2px;
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  margin: 0 2.55rem;
  color: dimgray;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.3rem;
}

.navbar .navbar-links li a, .navbar .navbar-links .navbar-login, .navbar .navbar-links #features, .navbar .navbar-links #company {
  font-size: 15px;
  font-weight: 500;
  color: dimgray;
  letter-spacing: -0.03rem;
}

.navbar .navbar-links li {
  margin-bottom: 0.7rem;
  margin-right: 2rem;
}

.navbar .navbar-links li:last-child {
  margin-left: 0.5rem;
}

.navbar .navbar-links li a, .navbar .navbar-links #features, .navbar .navbar-links #company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.navbar .navbar-menus {
  position: absolute;
  padding: 1.5rem 1.6rem;
  border-radius: 0.7rem;
  -webkit-box-shadow: #e6e6e6 10px 10px 30px, #e6e6e6 -5px -5px 30px;
          box-shadow: #e6e6e6 10px 10px 30px, #e6e6e6 -5px -5px 30px;
  background-color: #fff;
}

.navbar .navbar-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0;
}

.navbar .navbar-menus ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.navbar .navbar-features-menu {
  top: 4.3rem;
  left: 7rem;
}

.navbar .navbar-company-menu {
  top: 4.3rem;
  left: 19rem;
}

.navbar .navbar-company-menu img {
  display: none;
}

#features, #company {
  cursor: pointer;
}

@media (max-width: 875px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 4.8rem;
  }
  .navbar .navbar-logo {
    margin: 1rem 1rem;
  }
  .navbar .navbar-login {
    display: none;
  }
  .navbar .navbar-login img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .navbar .navbar-hamburger-btn {
    display: block;
    margin: 1rem 1rem;
  }
  .navbar .navbar-register {
    display: none;
  }
  .navbar .navbar-links {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: white;
    padding: 0;
  }
  .navbar .navbar-links .navbar-hamburger-exit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-bottom: 2rem;
  }
  .navbar .navbar-links li a, .navbar .navbar-links #features, .navbar .navbar-links #company {
    font-size: 16px;
    font-weight: 500;
    color: dimgray;
    letter-spacing: 0rem;
    min-height: 2rem;
  }
  .navbar .navbar-links li {
    margin-bottom: 0.6rem;
  }
  .navbar .navbar-links li:last-child {
    margin-left: 0;
  }
  .navbar .navbar-login-mobile {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: dimgray;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .navbar .navbar-register-mobile {
    width: 100%;
    border: dimgray solid 2px;
    border-radius: 1rem;
    padding: 0.6rem 1.2rem;
    color: dimgray;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .navbar .navbar-menus {
    position: static;
    padding: 1.5rem 1.6rem;
    border-radius: 0.7rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #fff;
  }
  .navbar .navbar-menus ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0;
  }
  .navbar .navbar-menus ul li img {
    width: 1.1rem;
  }
  .navbar .navbar-menus ul li:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .navbar .navbar-menus ul h4 {
    font-size: 16px;
  }
  .navbar .navbar-company-menu img {
    display: none;
  }
  .navbar #features, .navbar #company {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar #features div, .navbar #company div {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .navbar #features div img, .navbar #company div img {
    margin-left: 0.7rem;
  }
  .navbar .shadow-overlay {
    z-index: 5;
    position: absolute;
    width: 36%;
    height: 200%;
    background: rgba(0, 0, 0, 0.67);
  }
}
/*# sourceMappingURL=navbar.css.map */